<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.explorer.vid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".start.activity.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vid.Activity.NidActivity"
            android:label="@string/nid"
            android:parentActivityName=".vid.Activity.HomeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".vid.Activity.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".start.activity.CheckingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vid.Activity.InfoActivity"
            android:label="@string/information"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.DrivingActivity"
            android:label="@string/driving"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.PassportActivity"
            android:label="@string/passport"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.VisaActivity"
            android:label="@string/visa"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.HajjActivity"
            android:label="@string/hajj"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.PropertiesActivity"
            android:label="@string/properties"
            android:parentActivityName=".vid.Activity.HomeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".vid.Activity.LawActivity"
            android:label="@string/law"
            android:parentActivityName=".vid.Activity.HomeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".vid.Activity.EcActivity"
            android:label="@string/ec"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.PoliceActivity"
            android:label="@string/police"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.MarriageActivity"
            android:label="@string/marriage"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.EduActivity"
            android:label="@string/education"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.TaxActivity"
            android:label="@string/tax"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.BankActivity"
            android:label="@string/bank"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.InsuranceActivity"
            android:label="@string/insurance"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.SocialActivity"
            android:label="@string/social"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".vid.Activity.OthersActivity"
            android:label="@string/others"
            android:parentActivityName=".vid.Activity.HomeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".start.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".start.activity.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".start.activity.ForgotpassActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vid.Activity.BirthActivity"
            android:label="@string/birth"
            android:parentActivityName=".vid.Activity.HomeActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".nav.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".vid.Activity.HomeActivity"
            android:theme="@style/Base.V21.Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.explorer.vid.vid.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".nav.activity.FeedbackActivity"
            android:label="Feedback"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".nav.activity.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".vid.Activity.HomeActivity" />
        <activity
            android:name=".nav.activity.InstituteActivity"
            android:label="Institute name"
            android:parentActivityName=".vid.Activity.HomeActivity"
            >

        </activity>
    </application>

</manifest>